* {
    font-family: 'Courier New', Courier, monospace;
}

/* HTML Elements */

body {
    margin: 0px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 100px;
    font-weight: bold;
}

button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

/* Classes */
.header {
    padding: 0px 256px; /* Padding code flag */
    padding-top: 8px;

    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: auto;
    width: 128px;
}

.header .links a {
    padding: 0px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header .links a:hover {
    color: #929396;
}

.section-one {
    padding: 64px 256px; /* Padding code flag */

    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: space-between;
    flex: 1;
}
.section-one .hero-message {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
}

.section-one .hero-image {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.section-two {
    background-color: white;
    color: #1F2937;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two .skits {
    display: flex;
}

.section-two .skits .skit {
    text-align: center;
    font-size: 16px;
    margin: 16px;

    min-width: 128px;
    max-width: 256px;

    position: relative;
    width: 256px;
}

.section-two .skits .skit button,
.section-two .skits .skit button img {
    height: 128px;
    width: 128px;

}

.section-two .skits .skit button {
    border: none;
    padding: 0;
    margin: 0;
}

.section-two .skits .skit button img {
    border: 4px solid #3882F6;
    border-radius: 5px;
}

.section-two .skits .skit button img:hover {
    opacity: 0.7;
}

.section-three {    
    padding: 64px 256px; /* Padding code flag */

    background-color: #E5E7EB;
    color: #1F2937;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-three h1,
.section-three p {
    display: flex;

}
.section-three h1 {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.section-three p {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}

.section-four {
    padding: 0px 256px; /* Padding code flag */

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-four .call-to-action {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    margin: 64px 128px;
    height: 100px;
    width: 1000px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex: 1;
}

.section-four .call-to-action .call-to-action-text h1 {
    margin-bottom: 0;
    font-size: 24px;
}

.section-four .call-to-action .call-to-action-text p {
    margin-top: 0;
}

.section-four .call-to-action .call-to-action-button button {
    border: 2px solid #E5E7EB;
}

.footer {
    padding: 0px 256px; /* Padding code flag */

    background-color: #1F2937;
    color: #E5E7EB;

    display: flex;
    justify-content: center;
    align-items: center;
}
